<div id="login_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="login">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h1 class="login-heading">
      	  <strong><%= t('.welcome') %></strong> 
      	  <%= t('.please') %>
      	</h1>
        <%= form_for(:session, url: login_path) do |f| %>
      	  <div class="input-group">
            <%= f.email_field :email, :placeholder => t('.email'), :required => "required", :class => "input-txt" %>
          </div>
          <div class="input-group">
            <%= f.password_field :password, :placeholder =>  t('.password'), :required => "required", :class => "input-txt" %>
         </div>
          <div class="login-footer">
            <%= f.submit t('.login'), :class => "btn btn-primary btn--right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>