<div class="container-fluid" id="entrance">
  <div class="container">
    <div class="jumbotron">
      <% if !logged_in? %>
        <h1>Witaj mieszkańcu.</h1>
        <p>Zauważyłeś jakiś problem w naszym mieście? Nie czekaj i nie pozostań obojętnym! Załóż konto już dziś, zgłoś problem, a my zajmiemy się ręsztą. Dbaj o swoje miasto.</p>
        <%= button_to t('.login_or_register'), :login, {class: "btn btn-lg btn-success", method: :get} %>
      <% else %>
        <h1>Zgłoszenia</h1>
        <p><strong style="color: #C04442;">5 zgłoszeń problemów</strong> nie zostało zażegnanych. <br>
        <%= button_to t('.go_to_research'), research_path, {class: "btn btn-lg btn-success", method: :get} %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 style="font-weight: 500; text-align: center; padding: 30px 0;">NAJNOWSZE PROBLEMY</h1>
    </div>
  </div>
</div>
<div class="container" id="content">
  <div class="row">
    <% divise_per_2 = 0 %>
    <% @reports.take(4).each do |report| %>
      <% divise_per_2 += 1 %>
      <div class="col-md-2 col-lg-2">
        <div class="thumbnail">
            <h2 class="report_date"><%= report.created_at.strftime('%d.%m.%Y') %></h2>
            <h3 class="report_time"><%= report.created_at.strftime('%H:%M') %></h3>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= report.title %></h3>
            <hr>
            <span class="label label-primary">W trakcie poprawek</span>
            <hr>
            <p class="text-justify"><%= report.descr %></p>
            <%= link_to report do %>
              <button type="button" class="btn btn-success">Więcej szczegółów</button>
            <% end %>
          </div>
        </div>
      </div>
      <% if(divise_per_2 != 0 && divise_per_2 % 2 == 0) %>
        </div>
        <div class="row">
      <% end %>
    <% end %>
  </div>
</div>