<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.text_field :title, placeholder: true, class: "form-control", style: 'margin-bottom: 20px;' %>
        <label for="report_city">Wybierz miasto:</label>
        <%= f.autocomplete_field :city, autocomplete_city_cname_reports_path, {class: 'form-control', style: 'margin-bottom: 20px;', placeholder: true} %>
        <label for="report_report_category">Wybierz kategorię:</label>
        <%= f.collection_select :report_category_id, ReportCategory.all, :id, :name, {}, {class: 'form-control', style: 'margin-bottom: 20px;',  placeholder: true} %>
        <label for="report_street">Wskaż ulicę:</label>
        <%= f.autocomplete_field :street,autocomplete_street_sname_reports_path,  {class: 'form-control', style: 'margin-bottom: 20px;', placeholder: true} %>
        <%= f.text_field :house, {class: 'form-control', style: 'margin-bottom: 20px;', placeholder: true} %>
        <div class="actions">
          <%= f.submit t('.send_report'), :class => 'btn btn-success' %>
        </div>
      </div>
      <div class="col-md-8 col-lg-8">
        <%= f.text_field :short_place_desc, {class: 'form-control', style: 'margin-bottom: 20px;', placeholder: true} %>
        <%= f.text_field :descr, {class: 'form-control', style: 'margin-bottom: 20px;', placeholder: true} %>
        <%= f.file_field :report_image, {class: 'inputfile', id: 'file',style: 'margin-bottom: 20px;', placeholder: true} %>
        <label for="file"><i class="fa fa-upload" aria-hidden="true"></i> Wgraj zdjęcie...</label>
      </div>
    </div>
  </div>
<% end %>


               