<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.text_field :title, placeholder: true, class: "form-control" %>
        <%= f.autocomplete_field :city, autocomplete_city_cname_reports_path, {class: 'form-control', placeholder: true} %>
        <%= f.autocomplete_field :report_category, autocomplete_report_category_name_reports_path, {class: 'form-control', placeholder: true} %>
        <%= f.text_field :street, placeholder: true %>
        <%= f.text_field :house, placeholder: true %>
        <%= f.text_field :short_place_desc, placeholder: true %>
        <%= f.text_field :descr, placeholder: true %>
        <%= f.text_field :image, placeholder: true %>
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>


               