<div class="container" id="content">
  <div class="row">
    <% divise_per_2 = 0 %>
    <% @reports.order("created_at desc").each do |report| %>
      <% divise_per_2 += 1 %>
      <div class="col-md-2 col-lg-2">
        <div class="thumbnail">
            <h2 class="report_date"><%= report.created_at.strftime('%d.%m.%Y') %></h2>
            <h3 class="report_time"><%= report.created_at.strftime('%H:%M') %></h3>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= report.title %></h3>
            <hr>
            <span class="label label-primary"><%= report.report_category.name %></span>
            <hr>
            <p class="text-justify"><%= report.descr %></p>
            <%= button_to t('.more_details'), report, class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <% if(divise_per_2 != 0 && divise_per_2 % 2 == 0) %>
        </div>
        <div class="row">
      <% end %>
    <% end %>
  </div>
</div>