<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Report category:</strong>
  <%= @report.report_category %>
</p>

<p>
  <strong>Street:</strong>
  <%= @report.street %>
</p>

<p>
  <strong>House:</strong>
  <%= @report.house %>
</p>

<p>
  <strong>Short place desc:</strong>
  <%= @report.short_place_desc %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @report.desc %>
</p>

<p>
  <strong>Image:</strong>
  <%= @report.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @report.ip %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
