<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <title><%= t('.title') %></title>
  <meta charset="utf-8">
  <meta name="author" content="Dawid 'Rodzyn' Tomas, Tomek Bryliński, Karol Krajewski">
  <meta name="description" content="<%= t('.desc') %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="">
    <%= content_for?(:header) ? yield(:header) : (render template: "layouts/header") %>
  </header>
  <div class="container-fluid" id="entrance">
    <p><%= flash[:alert] %></p>
    <section id="content">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
  </div>
  <footer id="footer">
    <%= content_for?(:footer) ? yield(:footer) : (render template: "layouts/footer") %>
  </footer>
</body>
</html>
